 html, body {
  width: 100%;
   margin: 0;
   background: black;

 }

 #intro {
   background: #FDC82F;
   height: 100vh;/* view height makes it full screen div*/
   font-family: 'Arvo', Helvetica, sans-serif;
 }

 #leftpanel {
   position: relative;
   top: 100px;
   text-align: right;
 }

#rightpanel {
  top: 150px;
  left: 20px;
}

h1 {
  font-family: 'Arvo';
  font-size: 48px;
}

h3 {
  font-size: 22px;
}

#rightpanel p{
  font-family: Helvetica;
  background: white;
  padding: 10px;
  border: #BA2126 solid 5px;
  border-radius: 15px;
  opacity: .8;
}

#scrolldown svg {
  position: relative;
  top: 370px;
  right: 43%;

}

button {
  position: relative;
  top: 100px;
  right: 100px;
}
 img {
   height: 300px;
 }
 h1 {

 }
 #worldmap {
   height: 100vh;
   /*background: #BA2126;*/
 }
 .country {
   fill: #CCCCCC;
   stroke: black;
   stroke-width: .7px;
 }
 .country:hover {
   stroke: #fff;
   stroke-width: .7px;
 }
 div.tooltip {
   color: #222;
   background: #fff;
   padding: .5em;
   text-shadow: #f5f5f5 0 1px 0;
   border-radius: 2px;
   box-shadow: 0px 0px 2px 0px #a6a6a6;
   opacity: 0.9;
   position: absolute;
   z-index: 50;
 }
