 html, body {
   width: 100%;
   margin: 0;
   background: black;

 }

 #intro {
   background: #FDC82F;
   height: 100vh;/* view height makes it full screen div*/
   font-family: 'Arvo', Helvetica, sans-serif;
 }

 #leftpanel {
   position: relative;
   top: 100px;
   text-align: right;
 }

#rightpanel {
  top: 150px;
  left: 20px;
}

h1 {
  font-family: 'Arvo';
  font-size: 48px;
}

h3 {
  font-size: 22px;
   font-family: 'Arvo', Helvetica, sans-serif;
}

#rightpanel p{
  font-family: Helvetica;
  background: white;
  padding: 10px;
  border: #BA2126 solid 5px;
  border-radius: 15px;
  opacity: .8;
}

#scrolldown svg {
  position: relative;
  top: 370px;
  right: 43%;
  fill: black;
}

#scrolldown svg:hover {
  cursor: pointer;
}

button {
  position: relative;
  /*top: 100px;
  right: 100px;*/
}

 img {
   height: 300px;
 }
 h1 {

 }
 #worldmap {
   height: 100vh;
   /*float: right;*/
   /*background: #BA2126;*/
 }
 .country {
   fill: #CCCCCC;
   stroke: black;
   stroke-width: .7px;
 }

 .country:hover {
   stroke: #fff;
   stroke-width: .7px;
 }

 div.tooltip {
   color: #222;
   background: #fff;
   padding: .5em;
   text-shadow: #f5f5f5 0 1px 0;
   border-radius: 2px;
   box-shadow: 0px 0px 2px 0px #a6a6a6;
   opacity: 0.9;
   position: absolute;
   z-index: 50;
 }

.instruction {
  position: relative;
  margin-top: 10px;
  margin-bottom: -25px;
}


hr {
  border-top: #FDC82F 2px solid;
  position: relative;
  top: -12px;
}

 #key {
   background:  #BA2126;
   height: 100%;
   opacity: .9;
 }

 #key h3 {
   color: black;
   position: relative;
   font-size: 24px;
 }

 #key p {
   background: white;
   padding: 10px;
   border-radius: 10px;
   position: relative;
   top: -25px;
   font-size: 12px;
 }

  #key select {
    position: relative;
    top: -20px;
  }

  #key button {
    position: relative;
    top: -29px;
    fill: grey;
    font-size: 11px;
    bottom: 5px;
  }



 .countryGraph {
   background: white;
   float: left;
   z-index: 40;
 }
 .draggable {
   width: 530px;
   height: 220px;
   background: white;
   box-sizing: border-box;
   border-radius: 15px;
   border: 4px solid #D52B1E;
   margin: 10px;
   top: -300px;
   /*z-index: 100;*/
 }

 .line-tooltip {
   position: absolute;
   background: white;
   padding: 7px;
   z-index: 10;
   visibility: hidden;
   box-sizing: border-box;
   border: black solid 1px;
 }

 .chart-container {
   position: relative;
 }
 .axis {
   font: 10px sans-serif;
 }
 .axis path, .axis line {
   fill: none;
   stroke: #000;
   stroke-width: 1;
   shape-rendering: crispEdges;
 }
 .x.axis path {
   display: none;
 }

 .line {
   stroke: #006300;
   stroke-width: 2;
   fill: none;
 }


 .graph-box {
   background: white;
   width: 100px;
   height: 100px;
 }


  /*for price diff graph*/
  .overlay {
    position: absolute;
    left: 45%;
    /*width: 500px;*/
  }
 .overlay svg {
   padding-left: 20px;
   padding-right: 2px;
   width: 500px;
   /*position: absolute;*/
   /*left: 45%;*/
   background: white;
   box-sizing: border-box;
   border: 5px #D52B1E solid;
   border-radius: 10px;
 }

 .bar.positive {
   fill: steelblue;
 }
 .bar.negative {
   fill: #D52B1E;
 }
 .axis text {
   font: 10px sans-serif;
   color: black;
 }
 .graph-box {
   background: white;
   width: 100px;
   height: 100px;
 }
 .country {
   /*fill: none;*/
   fill: #CCCCCC;
   stroke: black;
   stroke-width: .7px;
 }
 .main-text {
   font-family: sans-serif;
   font-size: 9px;
   fill: black;
 }
